@charset "UTF-8";
/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/abstracts/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/abstracts/_base.scss */
body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.025em;
  line-height: 1.42857143;
  overscroll-behavior: none;
}

/* line 2, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/abstracts/_utility.scss */
.no-line-break {
  white-space: nowrap;
}

/* line 5, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
body {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 11, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
h1 {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

/* line 19, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
h3 {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

/* line 27, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
p {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

/* line 35, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
blockquote {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

/* line 43, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
pre {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* line 51, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
a {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* line 59, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/core/_typography.scss */
b {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/components/_buttons.scss */
.newsletter-form__btn, .case-studies__pop-up-link--web {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/* line 18, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/components/_buttons.scss */
.newsletter-form__btn:hover, .case-studies__pop-up-link--web:hover {
  text-decoration: none;
}

/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_main.scss */
main {
  background-color: #fff;
  padding-top: 10.2rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  /* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_main.scss */
  main {
    padding-top: 6.75rem;
  }
}

@media (min-width: 992px) {
  /* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_main.scss */
  main {
    padding-top: 13.5rem;
  }
}

/* line 5, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer {
  background-color: #323544;
  padding-top: 2rem;
}

/* line 14, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* line 21, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-parent-container a, .footer__flex-parent-container a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 27, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-parent-container a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 34, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-item-container {
  flex-grow: 1;
  width: 100%;
}

/* line 39, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-item-container:first-child {
  flex-basis: auto;
}

/* line 43, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-item-container:nth-child(2) {
  flex-grow: 2;
}

/* line 47, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-item-container a, .footer__flex-item-container a:visited {
  text-decoration: none;
  color: #fff;
}

/* line 53, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-item-container a:hover {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 1260px) {
  /* line 34, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__flex-item-container {
    width: auto;
  }
}

/* line 66, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__logo-container {
  max-height: 100px;
}

/* line 69, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__logo-container img {
  display: flex;
  flex-direction: column;
  width: 25%;
  box-align: fill;
}

/* line 78, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 91, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__sm-link {
  display: inline-block;
  padding: 1rem 1.25rem 0.75rem;
  margin: 0.25rem;
  background-color: #212330;
}

/* line 99, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__sm-link svg {
  height: 1.5rem;
}

/* line 103, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__sm-link path {
  fill: #fff;
}

/* line 110, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-list {
  list-style-type: none;
  font-size: 0.8rem;
}

/* line 116, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-item {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* line 122, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-link {
  color: #fff;
  text-decoration: none;
}

/* line 127, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-link:hover {
  text-decoration: underline;
}

/* line 133, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__copyright-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  background-color: #212330;
  color: #fff;
}

/* line 143, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__copyright-text {
  display: block;
  font-size: .8125rem;
  padding-top: 10px;
}

@media (min-width: 768px) {
  /* line 143, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__copyright-text {
    display: inline;
  }
}

@media (min-width: 768px) {
  /* line 155, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__copyright-text + .footer__copyright-text::after {
    content: ' - ';
  }
}

/* line 162, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-link--sitemap {
  display: block;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

/* line 169, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__nav-link--sitemap:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  /* line 162, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__nav-link--sitemap {
    display: inline;
    margin-left: 0.2rem;
  }
}

/* line 183, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
.footer__flex-parent-container--tertiary-nav {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
}

@media (min-width: 768px) {
  /* line 183, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__flex-parent-container--tertiary-nav {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  /* line 195, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__flex-item-container--nav-list {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 992px) {
  /* line 195, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_footer.scss */
  .footer__flex-item-container--nav-list {
    width: calc(25% - 2rem);
  }
}

/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
.container__main {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  /* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
  .container__main {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  /* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
  .container__main {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1260px) {
  /* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
  .container__main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 6, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
.container__main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: 992px) {
  /* line 6, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
  .container__main {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 6, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_container-response.scss */
  .container__main {
    width: 1170px;
  }
}

/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form {
  background-color: #ddd;
  padding: 3.125rem 0;
}

/* line 6, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__heading {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #272936;
}

/* line 13, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 992px) {
  /* line 13, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
  .newsletter-form__flex-container {
    flex-direction: row;
    gap: 5rem;
    align-content: space-between;
  }
}

/* line 26, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newletter-form__input-container {
  margin-left: -15px;
  margin-bottom: 1rem;
  width: 300%;
  flex-grow: 1;
}

/* line 33, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__label {
  display: inline-block;
  font-weight: 600;
  line-height: 2;
  color: #272936;
}

/* line 41, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__label a {
  text-decoration: underline;
  font-size: 1rem;
}

/* line 44, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__label a:hover, .newsletter-form__label a:visited {
  color: #272936;
}

/* line 50, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__btn {
  background-color: #323544;
  margin-top: 0.7rem;
  background-color: #323544;
}

/* line 37, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/abstracts/_mixins.scss */
.newsletter-form__btn:hover {
  background-color: #121318;
}

/* line 57, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__checkbox-flex-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

/* line 63, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__input--text {
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 5px 15px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 0.875rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (min-width: 1260px) {
  /* line 63, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
  .newsletter-form__input--text {
    display: flex;
    flex-grow: 1;
    gap: 5rem;
    justify-content: space-between;
  }
}

/* line 81, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__input--text:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 8px rgba(91, 192, 222, 0.6);
}

/* line 88, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__input-container--required label::after {
  content: '*';
  color: #d24d57;
  padding-left: 0.2em;
}

/* line 96, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__input--checkbox {
  opacity: 0;
  position: absolute;
}

/* line 101, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__label[for="newsletter-form-preferences"] {
  display: flex;
  align-items: center;
}

/* line 106, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__label[for="newsletter-form-preferences"]::before {
  content: '';
  display: inline-block;
  align-self: start;
  min-width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
  border: 0.2rem solid #272936;
  border-radius: 0.2rem;
  font-size: 1.25rem;
}

/* line 120, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_form.scss */
.newsletter-form__input--checkbox:checked + newsletter-form__label::before {
  content: '✓';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323544;
  color: #fff;
}

/* line 1, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-studies {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* line 6, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.logo-scrolling-flex-parent-container {
  display: flex;
  justify-content: center;
  overflow-x: clip;
  gap: 6rem;
}

/* line 14, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__single-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

/* line 21, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__single-section img {
  max-height: 4.5rem;
  filter: grayscale(1);
}

/* line 25, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__single-section img:hover {
  filter: grayscale(0);
}

/* line 32, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-hover-container {
  position: absolute;
  display: none;
  width: 20rem;
  bottom: 100%;
}

/* line 40, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__single-section:hover .case-study__pop-up-hover-container {
  display: block;
}

/* line 44, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-box {
  background-color: #323544;
  color: #fff;
  padding: 1.25rem;
  width: 18rem;
  bottom: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

/* line 55, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-box .icon {
  width: 1rem;
  margin-left: 0.25rem;
  fill: #fff;
}

/* line 62, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-box::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  right: 50%;
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid #323544;
}

/* line 77, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-heading {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

/* line 84, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-study__pop-up-section {
  font-size: 0.82rem;
}

/* line 88, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/layout/_cases.scss */
.case-studies__pop-up-link--web {
  background-color: #67809F;
}

/* line 37, C:/Users/Molly/Documents/NetMatters/NetMatters-Clone/scss/abstracts/_mixins.scss */
.case-studies__pop-up-link--web:hover {
  background-color: #485b72;
}

/*# sourceMappingURL=application.css.map */