.container__main {
    
    @include set-container-width-for-breakpoints();
}

.container__main {

    margin-right: auto;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;

    @include breakpoint(medium-to-wide) {
          width: 970px;
      }
      @include breakpoint(wide-to-extra-wide) {
          width: 1170px;
      }
}
