main {

background-color: $white;

// change later; test to see if this fills space
padding-top: 10.2rem;

position:relative;
z-index:10;

@include breakpoint(narrow-to-medium) {
    padding-top: 6.75rem;
}

@include breakpoint(medium-to-wide) {
    padding-top: 13.5rem;
}
}
